on:
  push:
    branches:
      - main
    paths:
      - 'frontend/**'
      
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Deploying Frontent!"
      - run: curl -d "d=front" ${{ secrets.LOCATION }}
